<section class="container__main-cards container">
  <div class="container__big-card">
    <app-big-card
      [id]="mainBigCardContent.id"
      [image]="mainBigCardContent.image"
      [cardTitle]="mainBigCardContent.title"
      [cardDescription]="mainBigCardContent.description"
      ></app-big-card>
  </div>
  <div class="container__small-cards">
    <div *ngFor="let post of mainSmallCardsContent | slice:1">
      <app-small-card
      [id]="post.id"
      [image]="post.image"
      [cardTitle]="post.title"
      ></app-small-card>
      <hr>
    </div>
  </div>
</section>
<section class="container__cards container">
  <app-small-card *ngFor="let post of othersPosts"
      [id]="post.id"
      [image]="post.image"
      [cardTitle]="post.title"
      ></app-small-card>
</section>