<section class="container__main-cards container">
  <div class="container__big-card">
    <app-big-card
      [id]="mainBigCardContent.id"
      [image]="mainBigCardContent.image"
      [cardTitle]="mainBigCardContent.title"
      [cardDescription]="mainBigCardContent.description"
      ></app-big-card>
  </div>
  <div class="container__small-cards">
    <div *ngFor="let post of mainSmallCardsContent">
      <app-small-card
      [id]="post.id"
      [image]="post.image"
      [cardTitle]="post.title"
      ></app-small-card>
      <hr>
    </div>
  </div>
</section>
<section class="container__cards container">
  <a *ngFor="let post of othersPosts" routerLink="post/{{post.id}}" >
    <app-post-card 
     [id]="post.id"
     [image]="post.image"
     [cardTitle]="post.title"
     [cardDescription]="post.description"
    ></app-post-card>
  </a>
</section>