@media screen and (min-width: 0) {
  .container__main-cards {
    flex-direction: column;
  }

  .container__cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 680px) {
  .container__main-cards {
    flex-direction: row;
  }

  .container__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1366px) {
  .container__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
